# Database URL
#
# In CF this points (with an auth token) to 
# our Turso instance
# 
# In Development this should point to a local 
# database by setting it to "file:local.db"
#DATABASE_URL=""
#DATABASE_AUTH_TOKEN=""

# Points to a deployment of our argon2 worker
# 
# This must be JUST the domain, no protocol or path
ARGON2_WORKER_DOMAIN=""

# Signing Key for JWTs since we can't bind to 
# our main one for some dumb reason
# 
# can be any random key-like value, it gets hashed anyway
LOCAL_SIGNING_KEY=""
# the key that gets stored as the KID within 
# a token in dev also used in other places
#
# should be somewhat short simple
LOCAL_SIGNING_KEY_KID=""