@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@import "./themes.css" layer(theme);

@layer theme, base;

@custom-variant default (&:where(*));
@custom-variant dark (&:where(.dark,
    .dark *));

@custom-variant gruvbox
    (&:where([data-theme=gruvbox]:not(.dark),
    [data-theme=gruvbox]:not(.dark) *));
@custom-variant gruvbox-dark
    (&:where([data-theme=gruvbox].dark,
    [data-theme=gruvbox].dark *));

@theme {
    --color-background: var(
        --background
    );
    --color-foreground: var(
        --foreground
    );

    --color-primary: grey;
    --color-primary-foreground: white;

    --color-mutex: grey;

    --spacing-sidebar: calc(
        var(--spacing) *
            var(--sidebar-width)
    );

    --spacing-auth-header: calc(
        var(--spacing) *
            var(--auth-header-height)
    );
    --spacing-auth-footer: calc(
        var(--spacing) *
            var(--auth-footer-height)
    );

    /* animations */

    --animate-accordion-down: accordion-down
        0.2s ease-out;
    --animate-accordion-up: accordion-up
        0.2s ease-out;
    --animate-caret-blink: caret-blink
        1.25s ease-out infinite;
    --animate-spinner-stroke: spinner-stroke
        1.5s linear infinite;

    /* keyframes */

    @keyframes spinner-stroke {
        0% {
            stroke-dasharray:
                1px,
                200px;
            stroke-dashoffset: 0;
        }

        50% {
            stroke-dasharray:
                100px,
                200px;
            stroke-dashoffset: -15px;
        }

        100% {
            stroke-dasharray:
                1px,
                200px;
            stroke-dashoffset: -126px;
        }
    }
}

@layer base {
    * {
        @apply text-foreground
            transition-colors
            duration-200 ease-out;
    }

    a {
        @apply underline
            underline-offset-2;
    }

    html {
        @apply bg-background
            overflow-hidden;
    }
}
