@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@import "./themes.css" layer(theme);

@layer theme, base;

@custom-variant default (&:where(*));
@custom-variant dark (&:where(.dark, .dark *));

@custom-variant gruvbox (&:where([data-theme=gruvbox]:not(.dark), [data-theme=gruvbox]:not(.dark) *));
@custom-variant gruvbox-dark (&:where([data-theme=gruvbox].dark, [data-theme=gruvbox].dark *));

@theme {
    --font-sans: "Nexa", sans-serif;

    /* colours */
    --color-app-background: var(--app-background);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    /* Uncomment when set */
    /* --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground); */

    --color-muted: var(--muted);
    --color-input: var(--input);
    /* --color-card: var(--card); */

    /* spacing */

    --spacing-sidebar: calc(var(--spacing) * var(--sidebar-width));
    --spacing-page: calc(var(--spacing) * var(--page-width));

    --spacing-auth-header: calc(var(--spacing) * var(--auth-header-height));
    --spacing-auth-footer: calc(var(--spacing) * var(--auth-footer-height));

    --spacing-content-top: --spacing(var(--content-top-padding));

    /* animations */

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    --animate-caret-blink: caret-blink 1.25s ease-out infinite;
    --animate-spinner-stroke: spinner-stroke 1.5s linear infinite;

    /* keyframes */

    @keyframes spinner-stroke {
        0% {
            stroke-dasharray: 1px, 200px;
            stroke-dashoffset: 0;
        }

        50% {
            stroke-dasharray: 100px, 200px;
            stroke-dashoffset: -15px;
        }

        100% {
            stroke-dasharray: 1px, 200px;
            stroke-dashoffset: -126px;
        }
    }
}

@layer base {
    * {
        @apply transition-colors duration-200 ease-out overflow-hidden;
    }

    a {
        @apply underline underline-offset-2;
    }

    html {
        @apply bg-background overflow-y-auto;
    }
}
