:root {
    --sidebar-width: 24;
    --page-width: 200;

    --auth-header-height: 32;
    --auth-footer-height: 32;

    --content-top-padding: 24;

    @variant default {
        --app-background: linear-gradient(#edc9ff, #f2b79f);

        --background: #3f505f;
        --foreground: #e7fffd;

        --primary: var(--foreground);
        --primary-foreground: var(--background);

        --muted: #ddd;
        --input: #c8c8c8;

        --logo-gradient-top: #dc96ff;
        --logo-gradient-bottom: #efa689;
    }

    @variant dark {
        --background: #111;
        --foreground: #eee;

        --primary: var(--foreground);
        --primary-foreground: var(--background);

        --muted: #222;
        --input: #333;

        --logo-gradient-top: #edc9ff;
        --logo-gradient-bottom: #f2b79f;
    }

    @variant gruvbox {
        --background: #fbf1c7;
        --foreground: #3c3836;

        --primary: #282828;
        --primary-foreground: #f9f5d7;

        --muted: #f9f5d7;
        --input: #f2e5bc;

        --logo-gradient-top: var(--foreground);
        --logo-gradient-bottom: var(--foreground);
    }

    @variant gruvbox-dark {
        --background: #282828;
        --foreground: #ebdbb2;

        --primary: #fbf1c7;
        --primary-foreground: #1d2021;

        --muted: #1d2021;
        --input: #3c3836;

        --logo-gradient-top: var(--foreground);
        --logo-gradient-bottom: var(--foreground);
    }
}
