:root {
	--sidebar-width: 24;

	--auth-header-height: 32;
	--auth-footer-height: 32;

	@variant default {
		--background: #eee;
		--foreground: #111;

		--logo-gradient-top: #edc9ff;
		--logo-gradient-bottom: #f2b79f;
	}

	@variant dark {
		--background: #111;
		--foreground: #eee;

		--logo-gradient-top: #edc9ff;
		--logo-gradient-bottom: #f2b79f;
	}

	@variant gruvbox {
		--background: #f9f5d7;
		--foreground: #3c3836;

		--logo-gradient-top: var(--foreground);
		--logo-gradient-bottom: var(--foreground);
	}

	@variant gruvbox-dark {
		--background: #1d2021;
		--foreground: #ebdbb2;

		--logo-gradient-top: var(--foreground);
		--logo-gradient-bottom: var(--foreground);
	}
}
